#editWords {
	border: solid 1px #c0c0c0;
	margin-left: 180px;
	width: 640px;
	heigth: 60px
}

#hostAll {
	margin-left: 2.5%;
	margin-top: 2.5%;
}

.democomment {
	border: 1px solid #ddd;
	width: 500px;
	min-height: 40px;
	_height: 40px;
	outline: 0;
	overflow-x: hidden;
	overflow-y: auto;
	_overflow-y: visible;
	margin-left: 5%
}

.demoEdit {
	border: 1px solid #ddd;
	width: 400px;
	min-height: 20px;
	_height: 20px;
	outline: 0;
	overflow-x: hidden;
	overflow-y: auto;
	_overflow-y: visible;
	margin-left: 5%
}

.demoEdit p {
	margin: 0;
	padding: 0
}

.whr {
	height: 1px;
	border: none;
	border-top: 1px solid #555555;
}

.wc {
	margin-left: 2.5%;
	width: 60%;
}

#divword {
	width: 60%;
	margin-left: 2.5%;
}
.time {
	margin-left: 22.5%;
	font-size: 12px;
}
.del {
	margin-left: 23%;
}

.com {
	margin-left: 5%;
}
.dcom {
	margin-left: 5%;
}
.picture {
	width: 35px;
	height: 35px;
	border-radius: 50%
}