<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.mapper.JournalMapper">
	<insert id="insertJournal" parameterType="com.yc.ssm.entity.Journal"
		useGeneratedKeys="true" keyProperty="jid">
		insert into
		journal(uid,content,jdate) values(#{uid},#{content},now())
	</insert>
</mapper>
