<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.mapper.ReplysMapper">
	<select id="listreplys" parameterType="string" resultType="com.yc.ssm.entity.Replys">
		select * from replys where rcid = #{_parameter}
	</select>

	<insert id="addReplys" parameterType="com.yc.ssm.entity.Replys">
		insert into
		replys(rcid,ruserid,rtargetid,rcontent,rtime)
		values(#{rcid},#{ruserid},#{rtargetid},#{rcontent},now())
	</insert>

	<select id="getreplys" resultMap="RepandRep">
		select *,rid from replys where
		rcid = #{rcid}
	</select>
	<select id="getRR" resultType="Replys">
		select *,rid from replys where
		rcid = #{rid}
	</select>
	<resultMap type="Replys" id="RepandRep">
		<id property="rid" column="rid" />
		<collection property="replys" column="rid" select="getRR"
			ofType="Replys"></collection>
	</resultMap>
</mapper>