<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.mapper.ReplysMapper">
	<insert id="addReplys" parameterType="Replys">
		insert into
		replys(rcid,ruserid,rtargetid,rcontent,rtime)
		values(#{rcid},#{ruserid},#{rtargetid},#{rcontent},now())
	</insert>

	<select id="getreplys" parameterType="Replys" resultMap="RepandRep">
		select *,rid,ruserid
		uid,rtargetid puid
		from replys where
		rcid = #{rcid}
	</select>

	<resultMap type="Replys" id="RepandRep">
		<id property="rid" column="rid" />
		<collection property="user" column="{uid=uid}"
			select="com.yc.ssm.mapper.UsersMapper.getuser" ofType="Users"></collection>
		<collection property="puser" column="{uid=puid}"
			select="com.yc.ssm.mapper.UsersMapper.getuser" ofType="Users"></collection>
	</resultMap>

</mapper>