<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.mapper.UsersMapper">

	<insert id="insertUsers" parameterType="Login">
		insert into
		users(ulid,nickname) values
		(#{lid},#{lid})
	</insert>

	<resultMap type="Users" id="umap">
		<id column="uid" property="uid" />
		<association property="login" column="{lid=lid}"
			select="com.yc.ssm.mapper.LoginMapper.getlogin"></association>
		<association property="aressa" column="{asid=asida}"
			select="com.yc.ssm.mapper.AressMapper.getas"></association>
		<association property="aressh" column="{asid=asidh}"
			select="com.yc.ssm.mapper.AressMapper.getas"></association>
	</resultMap>

	<select id="Userinfo" parameterType="string" resultMap="umap"
		useCache="false" flushCache="true">
		select *,ulid lid,address asida,hometown
		asidh from users where
		uid=#{uid}
	</select>

	<update id="updateUserInfo" parameterType="Users">
		update users
		<trim prefix="set" suffixOverrides="," prefixOverrides=",">
			<if test="nickname!=null and nickname!=''">
				nickname=#{nickname},
			</if>
			<if test="age!=null and age!=''">
				age=#{age},
			</if>
			<if test="birthday!=null and birthday!=''">
				birthday=#{birthday},
			</if>
			<if test="picture!=null and picture!=''">
				picture=#{picture},
			</if>
			<if test="star!=null and star!=''">
				star=#{star},
			</if>
			<if test="hobby!=null and hobby!=''">
				hobby=#{hobby},
			</if>
			<if test="job!=null and job!=''">
				job=#{job},
			</if>
			<if test="company!=null and company!=''">
				company=#{company},
			</if>
			<if test="school!=null and school!=''">
				school=#{school},
			</if>
			<if test="address!=null and address!=''">
				address=#{address},
			</if>
			<if test="hometown!=null and hometown!=''">
				hometown=#{hometown},
			</if>
			<if test="astate!=null and astate!=''">
				astate=#{astate}
			</if>
		</trim>
		<where>
			<if test="uid!=null and uid!=''"></if>
			uid=#{uid}
		</where>
	</update>

	<select id="Getpbuser" resultMap="umap">
		select *,ulid lid,address asida,hometown
		asidh from users where u.uid=#{uid} limit
		<choose>
			<when test="min==1">0,#{pageSize}</when>
			<otherwise>#{min},#{pageSize}</otherwise>
		</choose>
	</select>

	<!-- 分页查询 -->
	<resultMap type="PaginationBean" id="pbMap">
		<result property="currPage" column="currPage" />
		<result property="pageSize" column="pageSize" />
		<collection property="rows" column="{min=min,pageSize=pageSize}"
			ofType="Users" select="Getpbuser" />
	</resultMap>

	<select id="partUsers" parameterType="PaginationBean" resultMap="pbMap">
		select
		count(1) total,ceil(count(1) / ${pageSize})
		totalPage,${currPage}
		currPage,${pageSize}
		pageSize,(${currPage}-1)*${pageSize}
		min,${pageSize}
		pageSize
		from
		users
	</select>

	<select id="listUserByAid" parameterType="string" resultMap="umap">
		select *,ulid lid from users u where uid like '%'||#{uid}||'%'
	</select>

	<select id="getuser" parameterType="Users" resultType="Users">
		select
		uid,nickname,picture from
		users where uid = #{uid}
	</select>

	<select id="getuserByulid" parameterType="Users" resultType="Users">
		select
		uid,nickname,picture from
		users where ulid = #{ulid}
	</select>

</mapper>